---
---

@import "{{ site.theme }}";

table {
    margin: 1em auto;
    width: 85%;

    th {
        background: #444;
        color: white;
    }

    td {
        border: 1px solid black !important;
    }
}

h2 {
    margin-top: 1em;
}

code {
    font-family: "Lucida Console", Monaco, monospace;
}

section.contents {
    width: 800px;
}

a.back-to-home-link {
    color: white;
}

nav {
    overflow-y: auto;
    bottom: 20px;
    padding-right: 1em;
}

#theme-developer {
    float: right;
    margin-right: 5em;

    a {
        color: white;
    }
}