---
---

@import "{{ site.theme }}";

table {
    margin: 1em auto;
    width: 85%;

    th {
        background: #444;
        color: white;
    }

    td {
        border: 1px solid black !important;
    }
}

h2 {
    margin-top: 1em;
}

code {
    font-family: "Lucida Console", Monaco, monospace;
}

section.contents {
    width: 800px;
}